h3
{
color:blue;
}
#my-id
{
background-color:yellow;
color:purple;
}
.my-class
{
color:white;
background-color:red;
}
div p
{
color:green;
}
div>p
{
background-color:lightblue;
}
h2+p
{
background-color:pink;
}
h2~p
{
text-decoration:underline;
}
a:hover
{
color;red;
}
h4
{
color:darkgreen;
}
h4::first-letter
{
fonts-size:30px;
color:purple;
}
h4::before
{
content:"Note";
font-weight:bold;
background-color:lightgreen;
color:magenta;
}
input[type="text"]
{
border:2px solid yellow;
}
